In [78]:
with open("./Season 9/Heaven Sent.txt", "r") as f:
    lines = f.readlines()

lines = list(lines)

In [79]:
characters = []
for line in lines:
    if ":" not in line:
        continue
    name = line.split(": ")[0]
    characters.append(name)

In [80]:
import numpy as np

In [81]:
unique_characters = list(np.unique(characters))

In [82]:
unique_characters

['                  DOCTOR  [OC]',
 '   BLACKBOARD',
 '   CLARA',
 '   CLARA [OC]',
 '   DOCTOR',
 '   DOCTOR [OC]',
 '   DOCTOR [bedroom]',
 '   DOCTOR [room 12]',
 '   DOCTOR [tower]',
 '   Original Airdate']

In [ ]:
unique_characters.remove('Original Airdate')

In [73]:
df_dict = []
for line in lines:
    words = line.strip().split(": ")
    name  = words[0]
    if name not in unique_characters:
        continue

    speech = ": ".join(words[1:])

    df_dict.append({
        "name" : name,
        "speech" : speech
    })

In [74]:
import pandas as pd
df = pd.DataFrame(df_dict)

In [77]:
df[df["name"] == "[OC]"]

   name  speech
2  [OC]  As you

In [59]:
df.sample(5)

       name                                             speech
23    CLARA             We probably shouldn't talk about work.
317  DOCTOR          And you'll never guess where I found him.
367   ORSON  It's just a silly toy thing. A family heirloom...
470   CLARA  Somewhere else. I hope. No, no, no, you stay a...
191  DOCTOR  Let me tell you about scared. Your heart is be...

In [60]:
doctor = df[(df["name"] =="DOCTOR") | (df["name"] == "DOCTOR [OC]")]

In [61]:
speeches = list(doctor["speech"].to_list())

In [ ]:
speeches = list(doctor["speech"].to_list())
count = sum([len(x.split(" ")) for x in speeches])
count

2020

In [83]:
import json

In [90]:
with open("results.json", 'r') as f:
    data = json.load(f)

list_of_eps = list(data.values())

In [91]:
list_of_eps = pd.DataFrame(list_of_eps)

In [93]:
list_of_eps.sample(5)

    total  doctor         %
32   4488    1742  0.388146
4    4488    2168  0.483066
27   8586    4260  0.496157
21   4780    1534  0.320921
34   4831    1839  0.380667

In [94]:
np.mean(list_of_eps["%"])

0.42137236982295717

In [95]:
np.sum(list_of_eps["doctor"]) / np.sum(list_of_eps["total"])

0.41666587526947074